{% extends "layout.html" %}

{% block body %}
<h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">

        <h3>Select a Sport:</h3>
        {% for sport in sports %}
            <div>
                <input name="sport" type="radio" value="{{ sport }}" id="{{ sport }}">
                <label for="{{ sport }}">{{ sport }}</label>
            </div>
        {% endfor %}

        <br>
        <button type="submit">Register</button>
    </form>
{% endblock %}
